#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: calc(50vh - 40px);
  color: white;
}

#img-totodile {
  z-index: 1;
  width: 200px;
  height: 200px;
}

#img-watersplash {
  position: relative;
  left: -350px;
  top: -50px;
  z-index: 0;
  width: 500px;
  height: 250px;
}

#landing-page-text {
  font-size: 55px;
  font-weight: bold;
  font-family: "Pokemon";
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  width: 500px;
}

#landing-upper {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
