<div id="landing-container">
  <div id="landing-upper">
    <img src="/assets/images/totodile.png" id="img-totodile" />
    <img src="/assets/images/water-splash.png" id="img-watersplash" />
    <div id="landing-page-text">
      <div>PoKéMon-collector</div>
      <div>Sign in</div>
    </div>
  </div>
  <div id="landing-lower">
    <app-login-input></app-login-input>
  </div>
</div>
