<div class="navbar" *ngIf="!signedIn">
  <div id="navbar-links"></div>
  <div id="navbar-middle-text">PoKéMon collector</div>
  <div id="navbar-right"></div>
</div>
<div class="navbar" *ngIf="signedIn">
  <div id="navbar-links">
    <a
      routerLink="catalogue"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Catalogue</a
    ><br />
    <a
      routerLink="trainer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      id="trainer-link"
      >Trainer</a
    >
  </div>
  <div id="navbar-middle-text">
    PoKéMon collector
    <img src="/assets/images/totodile.png" id="img-totodile-header" />
  </div>
  <div id="navbar-right">
    <button id="btn-logout" (click)="signOut()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
      <p>Logout</p>
    </button>
  </div>
</div>
