.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: var(--blue);
  border-bottom: 5px solid white;
  height: 80px;
  padding-top: 20px;
  padding-left: 40px;
}

#btn-logout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  color: var(--blue);
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-right: 40px;
  font-size: 18px;
  transition: 0.1s;
}

#btn-logout:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#btn-logout:hover {
  cursor: pointer;
  background-color: #cccccc;
}

#navbar-links {
  margin-left: 40px;
  display: flex;
  width: 33%;
  justify-content: flex-start;
}

#navbar-middle-text {
  color: white;
  font-weight: bold;
  font-family: "Pokemon";
  font-weight: 100;
  font-size: 30px;
  display: flex;
  justify-content: center;
  width: 33%;
}

#img-totodile-header {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

#navbar-right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

#trainer-link {
  margin-left: 30px;
}
