<div id="trainer-outer-container">
  <div id="trainer-container">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonPage"
      [pokemon]="pokemon"
      [page]="'trainer'"
    ></app-pokemon-card>
  </div>
  <div id="trainer-page-container-outer" *ngIf="pages.length > 1">
    <div id="trainer-page-container">
      <div *ngFor="let button of pages; index as i">
        <button id="{{ i }}" (click)="setPage(i + 1)" class="btn-pagination">
          {{ i + 1 }}
        </button>
      </div>
    </div>
  </div>
</div>
