input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background-color: #efefef;
}

input:focus {
  outline: none;
}

#input {
  font-size: large;
}

#login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outer-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #efefef;
  border-radius: 40px;
  border: 4px solid var(--blue);
  min-width: 40%;
  width: 600px;
}

#vertical-line {
  border-left: 2px solid var(--blue);
  height: 30px;
  margin-left: 10px;
}

#input-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  color: black;
  padding-left: 20px;
  font-size: 20px;
}

#input-container {
  border: 1px solid black;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 10px 10px 12px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 12px -5px rgba(0, 0, 0, 0.75);
  position: relative;
}

.arrow-button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 0px 100% 100% 0px;
  height: 100%;
  width: 50px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.arrow-button:hover {
  background-color: var(--blue-tinted);
  cursor: pointer;
}

.arrow-button:active {
  background-color: var(--blue-tinted);
  transform: translateX(3px);
}
