<div id="input-container">
  <div class="outer-input">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" id="login-form">
      <div id="input-left">
        <fa-icon [icon]="faKeyboard"></fa-icon>
        <div id="vertical-line"></div>
      </div>
      <input
        ngModel
        name="loginForm"
        type="text"
        id="input"
        placeholder="Enter username ..."
        autocomplete="off"
      />
      <button
        type="submit"
        [disabled]="loginForm.form.invalid"
        class="arrow-button"
      >
        >
      </button>
    </form>
  </div>
</div>

<!--
<div className='outer-input' id='outer-login-input'>
        <div className='input-left'>
          <FaRegKeyboard size={30} />
          <div id='vertical-line'></div>
        </div>
        <input
          type='text'
          placeholder='Enter username ...'
          className='input'
          {...register('username', usernameConfig)}
          autoComplete='off'
        ></input>
        <button
          type='submit'
          onClick={handleSubmit(onSubmit)}
          className='arrow-button'
          disabled={loading}
        >
          <AiOutlineArrowRight size={30} color={'white'} />
        </button>
      </div>
-->
