.pokemon-card,
.pokemon-card-collected {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 140px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #eaeaea;
}

.pokemon-card {
  border: 2px solid var(--blue);
}

.pokemon-card-collected {
  border: 2px solid #b8b8b8;
}

.pokemon-card-collected > #pokemon-card-top-text {
  background-color: #b8b8b8;
  height: 23px;
}

#pokemon-card-top-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pokemon-card-top-text {
  background-color: var(--blue);
  font-weight: bold;
  color: white;
  height: 25px;
}

#btn-pokemon-card-remove {
  background-color: #ff7675;
}

#btn-pokemon-card-remove:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#btn-pokemon-card-remove:hover {
  cursor: pointer;
  background-color: #ff9f9e;
}

#btn-pokemon-card-catch {
  background-color: var(--blue);
}

#btn-pokemon-card-catch:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#btn-pokemon-card-catch:hover {
  cursor: pointer;
  background-color: var(--blue-tinted);
}

#btn-pokemon-card-catch,
#btn-pokemon-card-remove {
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-left: -2px;
  margin-bottom: -2px;
  width: calc(100% + 4px);
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  transition: 0.1s;
}

.pokemon-card-bottom-container {
  width: 100%;
}
