<div
  *ngIf="!(!pokemon.collected && page == 'trainer')"
  [ngClass]="{
    'pokemon-card-collected': pokemon.collected === true,
    'pokemon-card': pokemon.collected === false
  }"
>
  <div id="pokemon-card-top-text">
    #{{ pokemon.id }} {{ getCapitalizedName() }}
  </div>
  <img src="{{ pokemon.imgUrl }}" />
  <div
    *ngIf="!pokemon.collected && page == 'catalogue'"
    class="pokemon-card-bottom-container"
  >
    <button id="btn-pokemon-card-catch" (click)="catchPokemon()">Catch!</button>
  </div>
  <div
    *ngIf="pokemon.collected && page == 'trainer'"
    class="pokemon-card-bottom-container"
  >
    <button id="btn-pokemon-card-remove" (click)="removePokemon()">
      Remove
    </button>
  </div>
</div>
