/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Pokemon";
  src: url("./assets/Pokemon.ttf");
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  transition: 0.2s;
}

a:hover {
  color: #cccccc;
}

a:active {
  transform: translateY(2px);
}

:root {
  --blue: #0046af;
  --blue-tinted: #336bbf;
}
