#catalogue-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-height: 80vh;
}

#catalogue-page-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  border: 2px solid var(--blue);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
}

.btn-pagination {
  margin-left: 30px;
  margin-right: 30px;
  border: 0;
  background-color: var(--blue);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.54);
}

.btn-pagination:hover {
  cursor: pointer;
  background-color: var(--blue-tinted);
}

.btn-pagination:active {
  transform: translateY(4px);
}

#catalogue-page-container-outer {
  display: flex;
  justify-content: center;
}

#catalogue-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - 200px);
  margin-top: 20px;
}
